{{ define "goal" }}
<div id="goal-{{ .ID }}" class="flex flex-col mb-4 rounded-lg border overflow-hidden">
  <div class="flex-1 p-4 flex flex-col justify-between">
    <div class="flex-1">
      <p class="text-base leading-6 text-gray-500">
        <span class="capitalize inline-flex items-center rounded bg-{{ .Style.Color }}-100 px-2 py-0.5 text-xs font-medium text-{{ .Style.Color }}-800">{{ .Style }}</span>
        {{ .Content }}
      </p>
    </div>
    <div class="mt-2 flex items-center">
      <div class="flex-shrink-0">
        {{/* {{ if ne .User.PictureURL "" }}
        <img class="h-10 w-10 rounded-full" src="{{ .User.PictureURL }}" alt="">
        {{ else }}
        <span class="inline-flex items-center justify-center h-8 w-8 rounded-full bg-gray-500">
          <span class="text-sm font-medium leading-none text-white">{{ .User.Initials }}</span>
        </span>
        {{ end }} */}}
        <span class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white">
            <!-- Heroicon name: solid/check -->
            {{/* <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg> */}}

            <!-- Heroicon name: solid/clipboard -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" />
              <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z" />
            </svg>
          </span>
      </div>
      <div class="ml-3">
        <p class="text-sm leading-5 font-medium text-gray-900">
          {{ .User.FullName }}
        </p>
        <div class="flex text-sm leading-5 text-gray-500">
          Goal set with {{ .Mood }} intentions
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}