{{ define "pageContent" }}
<div class="max-w-none mx-auto">
  <div class="bg-white mb-8 overflow-hidden sm:rounded-lg sm:shadow">
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
        <div class="ml-4 mt-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Meetings
          </h3>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            {{ if eq (len .Data.meetings.Items) 0 }}
            It looks like you have not had any meetings yet. Get it scheduled, it's the best part.
            {{ else }}
            Here is an archive of all meetings for this group.
            {{ end }}
          </p>
        </div>
        {{ if .Data.currentUser.IsAdmin }}
        <div class="ml-4 mt-4 flex-shrink-0">
          <span class="inline-flex rounded-md shadow-sm">
            <button 
              type="button" 
              class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700" 
              onclick="window.location.href='/groups/{{ .Data.groupID }}/meetings/create'"
            >
              Have a meeting
            </button>
          </span>
        </div>
        {{ end }}
      </div>
    </div>

    {{ if gt (len .Data.meetings.Items) 0 }}
    <div id="meetings-table">
      {{ template "meetingsList" . }}
    </div> 
    {{ end }}
  </div>

  <div class="bg-white overflow-hidden sm:rounded-lg sm:shadow">
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
      <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
        <div class="ml-4 mt-4">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Notes
          </h3>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            {{ if eq (len .Data.notes.Items) 0 }}
            It looks like you have not created any notes yet. Let's start here.
            {{ else }}
            Here is an archive of all notes created for this group.
            {{ end }}
          </p>
        </div>
        <div class="ml-4 mt-4 flex-shrink-0">
          <span class="inline-flex rounded-md shadow-sm">
            <button 
              type="button" 
              class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700 active:bg-indigo-700" 
              onclick="window.location.href='/groups/{{ .Data.groupID }}/notes/new'"
            >
              Create new note
            </button>
          </span>
        </div>
      </div>
    </div>

    {{ if gt (len .Data.notes.Items) 0 }}
    <div id="notes-table">
      {{ template "notesList" . }}
    </div> 
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ end }}
