<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Private Notes</title>
    <meta name="description" content="This application is for long form group conversations that you want to keep private.">
    <meta name="author" content="profsmallpine">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="stylesheet" type="text/css" href="https://www.unpkg.com/tailwindcss@2.2.9/dist/base.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.unpkg.com/tailwindcss@2.2.9/dist/components.min.css">
    <link rel="stylesheet" type="text/css" href="https://www.unpkg.com/tailwindcss@2.2.9/dist/utilities.min.css">
    <style>html { font-family: 'Inter var', sans-serif; }</style>
  </head>

  <body class="bg-gray-50">
    {{ template "pageContent" . }}

    <script type="text/javascript">
      window.Flashes = {{ .Flashes }};
    </script>

    {{ template "scripts" . }}
  </body>
</html>
