<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Private Notes</title>
    <meta name="description" content="This application is for long form group conversations that you want to keep private.">
    <meta name="author" content="profsmallpine">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@0.6.2/dist/tailwind-ui.min.css">
  </head>

  <body class="bg-gray-50">
    {{ template "pageContent" . }}

    {{ template "scripts" . }}
  </body>
</html>
