{{ define "pageContent" }}
<form action="/groups/{{ .groupID }}/notes/create" method="POST">
  <div>
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        New Note
      </h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">
        This information will be shared with your group upon submit.
      </p>
    </div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
    <div class="sm:col-span-2">
      <label for="title" class="block text-sm font-medium leading-5 text-gray-700">
        Title
      </label>
      <div class="mt-1 rounded-md shadow-sm">
        <input name="title" type="text" class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" required>
      </div>
    </div>

      <div class="sm:col-span-6">
        {{/* <label for="content" class="block text-sm font-medium leading-5 text-gray-700">
          Content
        </label> */}}
        <div class="mt-1 rounded-md shadow-sm">
          <input id="content" type="hidden" name="content">
          <trix-editor input="content" class="form-textarea h-64 trix-content"></trix-editor>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <button type="button" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
          Cancel
        </button>
      </span>
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
          Submit
        </button>
      </span>
    </div>
  </div>
</form>
{{ end }}

{{ define "scripts" }}
{{ end }}
